.top-bar {
  display: flex;
  justify-content: space-between;
  padding: 15px;

  nav {
    display: flex;
    align-items: center;
    gap: 20px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 0.9rem;
    letter-spacing: 3px;

    ul {
      list-style: none;
      display: flex;
      gap: 20px;

      .nav-item {
        cursor: pointer;
        padding: 10px 10px;

        li {
          display: inline-block;
          position: relative;
        }

        li::after {
          content: '';
          position: absolute;
          width: 98%;
          transform: scaleX(0);
          height: 2px;
          bottom: -3px;
          left: 0;
          background-color: seagreen;
          transform-origin: bottom right;
          transition: transform 0.25s ease-out;
        }

        li:hover {
          color: seagreen;
        }

        li:hover::after {
          transform: scaleX(1);
          transform-origin: bottom left;
        }
      }
    }
  }
}