.project-display {
  background-color: #E6E3DB;

  .content-wrap {
    display: flex;
    justify-content: space-between;
    gap: 3vw;
    margin: 0 7vw;

    .info-wrap {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 20px;
  
      .tool-list {
        list-style-type: none;
        display: flex;
        gap: 17px;
  
        .tool {
          background-color: rgba(56, 151, 97, 0.2);
          border-radius: 20px;
          padding: 3px 15px;
        }
      }
    }

    .image-wrap {
      flex: 1.3;
  
      figure {
        display: inline-flex;
        outline: 2px solid black;
        transition: box-shadow 0.3s ease-in-out;
      }
  
      img {
        display: inline-block;
        object-fit: contain;
        max-width: 100%;
      }
  
      figure:hover {
        box-shadow: 6px 6px 0 -1px #373737;
      }
    }
  }

}

.go-back {
  display: flex;
  gap: 5px;
  align-items: center;
  font-size: 1rem;
  padding: 10px;
  cursor: pointer;

  p:hover {
    text-decoration: underline;
  }
}